<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateForm</title>
</head>
<body>
<h2>UpdateForm</h2>
<a th:href="@{/products}">Back to productList</a>
<form th:action="@{/products/update}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Details</label>
        <input type="text" th:field="*{detail}">
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <label>Day</label>
        <input type="text" th:field="*{day}">
    </div>
    <input type="submit" value="update">
</form>
</body>
</html>